### data load

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'

df = pd.read_csv('Data/df.csv', encoding='cp949', index_col=0)
country = pd.read_csv('Data/country.csv', encoding='utf-8', index_col=0)
upzong = pd.read_csv('Data/du.csv', encoding='cp949', index_col=0) ## ksci 업종분류 (세세분류)
ex = pd.read_csv('Data/ex.csv', encoding='cp949', index_col=0) 
im = pd.read_csv('Data/im.csv', encoding='cp949', index_col=0)

C:\Users\wq240\AppData\Local\Temp\ipykernel_23480\841969141.py:7: DtypeWarning: Columns (47,48,50,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data/df.csv', encoding='cp949', index_col=0)

In [7]:
df.shape, country.shape, upzong.shape, ex.shape, im.shape

((50948, 76), (296, 2), (341809, 17), (5449, 4), (9996, 3))

In [11]:
df.drop_duplicates(inplace=True)
df.shape

(50948, 76)

In [15]:
df[df['수출상품코드'].isin(('0000', '9900', '9999', '999999999', '9999999991', '9999999999', 'ZZZZ', 'ZZZZZZZZZZ'))].shape

(5136, 76)

In [ ]:

상품분류코드	상품분류명	상품분류그룹코드	상품분류그룹명
24132	#	기타	14	기타
24133	0000	기타	14	기타
24136	9900	기타	14	기타
24137	9999	기타	14	기타
24138	999999999	기타	14	기타
24139	9999999991	기타	14	기타
24140	9999999999	기타	14	기타
24141	ZZZZ	기타	14	기타
24142	ZZZZZZZZZZ	기타	14	기타

In [195]:
df

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정
0,2022120351200010,1,111042630,1001,2022-07-08 16:50:20,1,TWD,8408.0,295.12,332956,8408.0,295.12,332956,0.0,0.0,0.00,0,20220714.0,20220714.0,0.0,0,1.0,100892,지급 판정,지급 판정,20220623,502,502,ZZ,C9006,20220714,수출자 농업회사법인주식회사 함초록 '21년 12월 대만 수출관련 수입국 검역위험 사고건임,TWD,8.408000e+03,295.12,332956,8.408000e+03,295.12,332956,10000000.0,8766.54,10000000,10000000.0,8766.54,10000000,20210324,6000979587,6003984606.0,20.0,704902000.0,100.0,20210707.0,0.0,NaN,1103213214,2022120351200010,112021439811,0.0,1.0,11016,C0130,N,20220623.0,0,1.103210e+11,4.0,N,N,수입국검역위험,D/A,결제방법(인수),기타종결,사고접수 결재완료,NaN,기타,수입국검역위험
1,2022120373610007,1,111042418,1001,2022-08-01 15:38:49,1,USD,38250.0,38250.00,45345375,38250.0,38250.00,45345375,0.0,0.0,0.00,0,20220804.0,20220804.0,0.0,0,1.0,100892,지급 판정,지급 판정,20220502,204,204,06,C9007,20220912,ㅇ 동인중공업(주) 대 러시아 TECHNOPARK IMPULSE LLC 간 단기수출...,USD,4.250000e+04,42500.00,50383750,4.250000e+04,42500.00,50383750,42500.0,42500.00,50383000,38250.0,38250.00,45345000,20211231,6000196027,6001714449.0,20.0,8431491000.0,90.0,20220104.0,0.0,41.0,1120018393,2022120373610007,112022845954,0.0,1.0,11002,C2100,N,20220503.0,0,1.120200e+11,0.0,N,N,신용위험-지급지체,D/A,결제방법(인수),전액회수종결,채권종결 결재완료,Days From B/L Date,판단불가,신용위험-지급지체
2,202212041ZZZ0101,1,151021622,1001,2022-07-25 15:38:33,1,KRW,168215529.0,144020.14,168215529,165762751.0,141920.16,165762751,0.0,2452778.0,2099.98,2452778,20220725.0,20220727.0,0.0,0,1.0,100892,지급 판정,지급 판정,20220610,703,703,06,C0155,20220802,○ '22. 4. 12. 이자연체\n - 최초사고사유발생일: '22. 4. 12....,KRW,1.800000e+08,154109.58,180000000,1.800000e+08,154109.58,180000000,180000000.0,167738.33,180000000,180000000.0,167738.33,180000000,20210825,6000279658,NaN,NaN,9999.0,100.0,20210825.0,0.0,NaN,15-1402-8404-008,202212041ZZZ0101,152014369346,8.0,1.0,15001,C0130,N,20220614.0,0,1.520140e+11,8.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체
3,2018120359990060,1,111036609,1001,2022-07-04 09:04:59,1,USD,20000.0,20000.00,22500000,20000.0,20000.00,22500000,0.0,0.0,0.00,0,20220704.0,20220707.0,0.0,0,1.0,100892,지급 판정,지급 판정,20181203,204,204,06,C0155,20220708,수입자 지급지체,USD,3.258300e+04,32583.00,36655875,3.258300e+04,32583.00,36655875,20000.0,20000.00,22500000,20000.0,20000.00,22500000,20171031,6000459415,6001442648.0,20.0,NaN,95.0,20171101.0,0.0,NaN,1117105254,2018120359990060,112017484770,0.0,1.0,11012,C0130,N,20181204.0,0,1.120171e+11,0.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,NaN,판단불가,신용위험-지급지체
4,2022120351350006,1,111042200,2,2022-07-04 09:15:28,1,USD,206800.0,206800.00,230044320,206800.0,206800.00,230044320,0.0,0.0,0.00,0,20220704.0,20220704.0,0.0,0,1.0,100631,연속수출,연속수출(면책사유),20220314,204,204,06,C9008,20220704,o (주)지어신코리아 대 베트남 MK NOAH VINA CO LTD간 단기(중소중견...,USD,2.068000e+05,206800.00,230044320,2.068000e+05,206800.00,230044320,450000.0,450000.00,502155000,450000.0,450000.00,502155000,20201112,6000152647,6000493216.0,NaN,390120000.0,100.0,20201217.0,0.0,NaN,1111207732,2022120351350006,112020915000,0.0,1.0,11012,C0130,N,20220314.0,0,1.111200e+11,3.0,N,N,신용위험-지급지체,NaN,NaN,면책종결,사고접수 결재완료,NaN,판단불가,신용위험-지급지체
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50943,2025120369990009,1,111045455,1001,2025-05-13 09:16:09,2,USD,50000.0,50000.00,68925000,50000.0,50000.00,68925000,0.0,0.0,0.00,0,20250513.0,20250515.0,0.0,0,1.0,100892,지급 판정,지급 판정,20250324,206,206,06,C0155,20250521,"(주)타래 대 미국 F21 OPCO, LLC 간 단체보험 사고건\n- 사고금액 : ...",USD,6.556535e+04,65565.35,90381834,6.556535e+04,65565.35,90381834,50000.0,50000.00,68220000,50000.0,50000.00,68220000,20240503,6001440152,6001744772.0,20.0,NaN,95.0,20240509.0,0.0,NaN,1105245517,2025120369990009,112024846929,0.0,1.0,11023,C0130,N,20250324.0,0,1.105242e+11,0.0,N,N,신용위험-파산,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,NaN,판단불가,신용위험-파산
50944,202512041ZZZ0029,1,151022592,1001,2025-05-13 11:05:48,1,KRW,92002267.0,71837.47,92002267,90000000.0,70274.06,90000000,0.0,2002267.0,1563.41,2002267,20250512.0,20250515.0,0.0,0,1.0,100892,지급 판정,지급 판정,20250205,703,703,06,C0155,20250516,○ '25. 1. 14. 이자연체\n - 최초사고사유발생일: '25. 1. 14....,KRW,9.000000e+07,70274.06,90000000,9.000000e+07,70274.06,90000000,90000000.0,70676.93,90000000,90000000.0,70676.93,90000000,20230802,6000916379,NaN,NaN,9999.0,100.0,20230802.0,0.0,NaN,15-0822-4906-001,202512041ZZZ0029,152022401733,1.0,1.0,15001,C0130,N,20250210.0,0,1.508221e+11,1.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체
50945,202512041ZZZ0054,1,151022614,1001,2025-05-13 16:17:29,1,KRW,92525531.0,68690.07,92525531,90000000.0,66815.14,90000000,0.0,2525531.0,1874.93,2525531,20250512.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,20250227,705,705,06,C0155,20250520,○ '25. 2. 26. 기한의이익상실(중기신속금융지원 프로그램 중단)\n - 최...,KRW,9.000000e+07,66815.14,90000000,9.000000e+07,66815.14,90000000,90000000.0,66509.02,90000000,90000000.0,66509.02,90000000,20231026,3100104824,NaN,NaN,9999.0,100.0,20231026.0,0.0,NaN,15-1120-8471-003,202512041ZZZ0054,152020846724,3.0,1.0,15001,C0130,N,20250228.0,0,1.511200e+11,3.0,N,N,기한의이익상실,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,기한의이익상실
50946,202512041ZZZ0081,1,151022641,1001,2025-05-13 17:57:43,1,KRW,206785972.0,151447.17,206785972,204300000.0,149626.48,204300000,0.0,2485972.0,1820.69,2485972,20250509.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,20250325,703,703,06,C0155,20250521,○ '25. 3. 25. 이자연체\n - 최초사고사유발생일: '25. 3. 25....,KRW,2.043000e+08,149626.48,204300000,2.043000e+08,149626.48,204300000,225000000.0,165064.93,225000000,225000000.0,165064.93,225000000,20240528,6000069149,NaN,NaN,9999.0,100.0,20240528.0,0.0,NaN,15-1605-2869-008,202512041ZZZ0081,152016334371,8.0,1.0,15001,C0130,N,20250325.0,0,1.520161e+11,8.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체
50947,202512041ZZZ0082,1,151022642,1001,2025-05-13 15:48:35,1,KRW,145430221.0,109849.84,145430221,142500000.0,107636.52,142500000,0.0,2930221.0,2213.32,2930221,20250513.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,20250326,703,703,06,C0155,20250521,○ '25. 2. 1. 이자연체\n - 최초사고사유발생일: '25. 2. 1. 이자연체,KRW,1.425000e+08,107636.52,142500000,1.425000e+08,107636.52,142500000,142500000.0,106949.86,142500000,142500000.0,106949.86,142500000,20240827,6005377788,NaN,NaN,NaN,100.0,20240827.0,0.0,NaN,15-0824-3657-000,202512041ZZZ0082,152024160852,0.0,1.0,15001,C0130,N,20250327.0,0,1.508243e+11,0.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체

### 수출자, 수입자 대상자 특징 추가

#### 업종 추가

In [2]:
kups = pd.read_csv('Data/kups.csv', encoding='cp949', index_col=0)
kups.columns = kups.iloc[2]  # 세 번째 행을 컬럼명으로 사용
kups = kups[3:].reset_index(drop=True)  # 앞의 n행을 제거하고 인덱스 리셋
kups.head(1)

nan,2021년 귀속\n업종코드,대분류,대분류,중분류,중분류,소분류,소분류,세분류,세분류,세세분류,...,소분류,소분류,세분류,세분류,세세분류,연계,메인,NaN,NaN,NaN
0,011000,A,"농업, 임업 및 어업",01,농업,011,작물 재배업,0110,곡물 및 기타 식량작물 재배업,곡물 및 기타 식량작물 재배업,...,011,작물 재배업,0111,곡물 및 기타 식량작물 재배업,곡물 및 기타 식량작물 재배업,1,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', None)
kups[kups['표준산업\n분류'] == '29291']

nan,2021년 귀속\n업종코드,대분류,대분류,중분류,중분류,소분류,소분류,세분류,세분류,세세분류,연계,표준산업\n분류,대분류,대분류,중분류,중분류,소분류,소분류,세분류,세분류,세세분류,연계,메인,NaN,NaN,NaN
473,292905,C,제조업,29,기타 기계 및 장비 제조업,292,특수 목적용 기계 제조업,2929,기타 특수 목적용 기계 제조업,펄프 및 종이 가공용 기계 제조업,1,29291,C,제조업,29,기타 기계 및 장비 제조업,292,특수 목적용 기계 제조업,2929,기타 특수 목적용 기계 제조업,펄프 및 종이 가공용 기계 제조업,1,NaN,NaN,NaN,NaN

In [3]:
dl = kups[['표준산업\n분류', '대분류', '중분류', '세세분류']]

In [4]:
dl.head(1)

nan,표준산업\n분류,대분류,대분류,대분류,대분류,중분류,중분류,중분류,중분류,세세분류,세세분류
0,01110,A,"농업, 임업 및 어업",A,"농업, 임업 및 어업",01,농업,01,농업,곡물 및 기타 식량작물 재배업,곡물 및 기타 식량작물 재배업

In [5]:
dl = dl.iloc[:,[0, 4, 8, 10]]

In [6]:
ex['업종코드'] = ex['업종코드'].astype(str).str.zfill(5)
dl.rename(columns={'표준산업\n분류': '업종코드'}, inplace=True)

In [7]:
ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5449 entries, 1000405 to 17667375
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대상자번호   5449 non-null   int64
 1   업종코드    5449 non-null   object
 2   대상자명    5449 non-null   object
 3   대상자코드   5449 non-null   int64
dtypes: int64(2), object(2)
memory usage: 212.9+ KB

In [9]:
dl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업종코드    1724 non-null   object
 1   대분류     1727 non-null   object
 2   중분류     1727 non-null   object
 3   세세분류    1727 non-null   object
dtypes: object(4)
memory usage: 54.1+ KB

In [11]:
dl.isna().mean()

nan
업종코드    0.001737
대분류     0.000000
중분류     0.000000
세세분류    0.000000
dtype: float64

In [10]:
ex.isna().mean()

대상자번호    0.0
업종코드     0.0
대상자명     0.0
대상자코드    0.0
dtype: float64

In [54]:
수출자 = pd.merge(ex, dl, on='업종코드', how='left')
수출자.sample(3)

,대상자번호,업종코드,대상자명,대상자코드,대분류,중분류,세세분류
2914,6000125181,45120,(주)케이제이씨 에너드림,100,도매 및 소매업,자동차 및 부품 판매업,중고 자동차 판매업
7859,3100112140,46800,이맥스(주),100,도매 및 소매업,도매 및 상품 중개업,상품 종합 도매업
436,3100104229,26120,(주)에이팩,100,NaN,NaN,NaN

In [57]:
im['업종코드'] = im['업종코드'].astype(str).str.zfill(5)
수입자 = pd.merge(im, dl, on='업종코드', how='left')
수입자.sample(3)

           대상자번호   업종코드  대상자코드       대분류          중분류                   세세분류
7256  6000395123  46329    450  도매 및 소매업  도매 및 상품 중개업            기타 가공식품 도매업
5640  6000293305  46510    136  도매 및 소매업  도매 및 상품 중개업  컴퓨터 및 주변장치, 소프트웨어 도매업
1398  2240100234  28909    240       제조업     전기장비 제조업        그 외 기타 전기장비 제조업

#### 국가 코드 추가

In [80]:
country = country.reset_index()
country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   수입자국가코드   296 non-null    object
 1   국가한글명     296 non-null    object
 2   표준약식국가코드  249 non-null    object
dtypes: object(3)
memory usage: 7.1+ KB

In [ ]:
country = country[country['수입자국가코드'].str.isdigit()]
country['수입자국가코드'] = country['수입자국가코드'].astype(int)
country.rename(columns={'수입자국가코드': '대상자코드'}, inplace=True)

In [83]:
country

     대상자코드     국가한글명 표준약식국가코드
0      299   중동 기타국가      NaN
1      170        시킴      NaN
2      199  아시아 기타국가      NaN
3      374        기타       JE
4      399   유럽 기타국가      NaN
..     ...       ...      ...
291    714      자비스섬      NaN
292    716      킹맨리프      NaN
293    717     미드웨이섬      NaN
294    719    노르웨이속령      NaN
295    720       나우루       NR

[295 rows x 3 columns]

In [64]:
수입자.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19720 entries, 0 to 19719
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대상자번호   19720 non-null  int64
 1   업종코드    19720 non-null  object
 2   대상자코드   19720 non-null  int64
 3   대분류     19300 non-null  object
 4   중분류     19300 non-null  object
 5   세세분류    19300 non-null  object
dtypes: int64(2), object(4)
memory usage: 924.5+ KB

In [85]:
# 수출자 = pd.merge(수출자, country, on='대상자코드', how='left')
수출자.sample(3)

,대상자번호,업종코드,대상자명,대상자코드,대분류,중분류,세세분류,국가한글명,표준약식국가코드
7315,6000359202,45219,(주)이에이에스코리아,100,도매 및 소매업,자동차 및 부품 판매업,기타 자동차 신품 부품 및 내장품 판매업,대한민국,KR
8558,3100001466,26291,성문전자 (주),100,제조업,"전자 부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",전자 축전기 제조업,대한민국,KR
7999,3100107600,28511,(주)가이아,100,제조업,전기장비 제조업,주방용 전기 기기 제조업,대한민국,KR

In [86]:
수입자 = pd.merge(수입자, country, on='대상자코드', how='left')
수입자.sample(3)

,대상자번호,업종코드,대상자코드,대분류,중분류,세세분류,국가한글명,표준약식국가코드
12078,6000505571,46413,332,도매 및 소매업,도매 및 상품 중개업,남녀용 겉옷 및 셔츠 도매업,이탈리아,IT
7696,6000156461,30320,355,제조업,자동차 및 트레일러 제조업,자동차 차체용 신품 부품 제조업,스페인,ES
11133,6000725357,46799,701,도매 및 소매업,도매 및 상품 중개업,그 외 기타 상품 전문 도매업,호주,AU

#### df 컬럼 확인용

In [99]:
pd.set_option('display.max_columns', None)
df.sample(1)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정
7382,1998G20ZZ5110031,1,150006572,1001,1999-02-12 00:00:00,1,USD,175110.74,212401.6,249848000,175110.74,212401.6,249848000,NaN,0.0,0.0,0,NaN,NaN,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,19981201,204,204,06,C0115,19981201,NaN,USD,175111.3,175111.3,249848803,175111.3,175111.3,249848803,175111.3,175111.3,249848000,175111.3,175111.3,249848000,19980617,3100003912,2511100944.0,20.0,5400.0,100.0,19980602.0,0.0,41.0,NaN,1998G20ZZ5110031,15228532XXXX,0.0,1.0,15002,C0130,N,19981201.0,0,1.519971e+11,3.0,N,N,신용위험-지급지체,D/A,결제방법(인수),보험금지급,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체

In [115]:
df[df['수출상품코드'] == 'AA03']

Empty DataFrame
Columns: [보상파일번호_x, 보상판정회차, 사고번호, 판정구분코드_TB_RCB230_RC051, 등록일시, 총액부분금액구분코드_RC053, 판정통화코드_ZZ067, 외화합계판정금액, 미화합계판정금액, 원화합계판정금액, 외화판정금액, 미화판정금액, 원화판정금액, 외화연체이자금액, 외화약정이자금액, 미화약정이자금액, 원화약정이자금액, 통화기준일자_x, 지급기준일자, 미화연체이자금액, 원화연체이자금액, 판정사유순번, 판정사유코드, 심사항목명, 상품심사항목명, 사고접수일자, 사고유형코드, 접수사고유형코드_RC001, 향후결제전망코드_RC002, 사고진행상태코드_RC023, 사고진행상태변경일자, 사고설명, 사고통화코드_ZZ067, 외화사고접수금액, 미화사고접수금액, 원화사고접수금액, 외화사고금액, 미화사고금액, 원화사고금액, 외화보험가액, 미화보험가액, 원화보험가액, 외화보험금액, 미화보험금액, 원화보험금액, 통화기준일자_y, 수출자대상자번호, 수입자대상자번호, 결제방법코드_RA600, 수출상품코드, 부보율, 보험성립일자, 외화인수누계결제금액, 결제조건코드, 보험증권번호, 보상파일번호_y, 수출보험계약번호, 수출보험계약변경회차, 수출보험계약내역순번, 사고보험상품코드_RM051, 사고등록상태코드_RC042, 신속보상대상여부, 사고접수확정일자, 상세사고보험상품코드_RC064, 청약번호, 청약변경회차, 손실분담사고여부, 매입보증연계보험가입여부, 사고유형명, 결제방법, 결제방법설명, 사고진행상태, 사고등록상태명, 결제조건, 향후결제전망, 접수사고유형확정]
Index: []

### df 정제 - 보험상품코드 merge

##### 사고보험상품코드_RM051

In [132]:
보험상품 = pd.read_csv('Data/보험상품풀코드설명.csv', encoding='utf-8', index_col=0)
보험상품 = 보험상품[보험상품['DW종료일자'] == 99991231]
보험상품[['상품코드', '상품명', '상품비고내용']]

      상품코드              상품명                                             상품비고내용
0    44905           일반수출보험                                                NaN
1    45001    원자재가격변동보험(매수)  무역보험운영 개선과제 추진계획」(11.6.13자, 사장결재)에 의거  ‘상품포트폴리...
2    45002    원자재가격변동보험(매도)  무역보험운영 개선과제 추진계획」(11.6.13자, 사장결재)에 의거  ‘상품포트폴리...
3    46001  해외자원개발펀드보험(융자등)                                                NaN
4    46002  해외자원개발펀드보험(주식등)                                                NaN
..     ...              ...                                                ...
113  34002      문화수출보험(펀드형)  무역보험운영 개선과제 추진계획」(11.6.13자, 사장결재)에 의거  ‘상품포트폴리...
114  34003      문화수출보험(투자형)  무역보험운영 개선과제 추진계획」(11.6.13자, 사장결재)에 의거  ‘상품포트폴리...
115  41902           수출금융보험                                                NaN
116  42903         위탁판매수출보험                                                NaN
117  43904         수출대금금융보험                                                NaN

[100 rows x 3 columns]

In [135]:
df.shape

(50948, 76)

In [346]:
df = pd.merge(df, 보험상품[['상품코드', '상품명', '상품비고내용']], left_on='사고보험상품코드_RM051', right_on='상품코드', how='left')
df.sample(1)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,상품코드,상품명,상품비고내용
6085,201412041ZZZ0106,1,151016796,1001,2014-05-09 10:13:06,1,KRW,48194000.0,45020.08,48194000,47500000.0,44371.78,47500000,0.0,694009.0,648.3,694009,20140509.0,20140509.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2014-02-28,703,703,06,C0155,20140617,'14.2.3자 이자연체로 인한 사고 접수,KRW,47500000.0,44371.78,47500000,47500000.0,44371.78,47500000,47500000.0,42335.12,47500000,47500000.0,42335.12,47500000,20131008,6000225704,NaN,NaN,9999,100.0,20131008.0,0.0,NaN,15-1304-0227-001,201412041ZZZ0106,152013616257,1.0,1.0,15001,C0130,N,2014-02-28,0,1.520130e+11,1.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체,15001,수출신용보증(선적전),NaN

##### 상세사고보험상품코드_RC064

In [347]:
df['상세사고보험상품코드_RC064'].value_counts()

상세사고보험상품코드_RC064
0    25255
4      288
3        4
Name: count, dtype: int64

In [141]:
# 상세사고 보험
sago_b = {
    1 : '단기수출보험약관(전자무역)',
    2 : '단기수출보험(재판매포괄보험)',
    3 : '중장기수출보험약관(구매자신용 표준이상형)',
    4 : '수탁보증시행약정',
    0 : '일반'
}

In [348]:
df['상세사고보험상품'] = df['상세사고보험상품코드_RC064'].map(sago_b)
df.sample(1)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,상품코드,상품명,상품비고내용,상세사고보험상품
5297,2011120357010008,1,151015007,1001,2011-12-29 09:54:05,1,USD,29852.77,29852.77,32252931,29621.9,29621.9,32003500,0.0,230.87,230.87,249431,20111228.0,20111229.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2011-11-16,204,204,06,C0155,20140611,NaN,USD,29621.9,29621.9,32003500,29621.9,29621.9,32003500,29621.9,29621.9,32003000,29621.9,29621.9,32003000,20110603,3100110363,2701102354,20.0,2202909000,100.0,20110921.0,0.0,41.0,1509088586,2011120357010008,152011139627,1.0,1.0,15002,C0130,N,2011-11-17,0,1.520091e+11,1.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,15002,수출신용보증(선적후),NaN,일반

#### HSCODE추가

In [2]:
import pandas as pd

hscode = pd.read_csv('Data/hscode.csv', encoding='cp949', index_col=0)
hscode.sample(2)

           상품분류코드                           상품분류명  상품분류그룹코드      상품분류그룹명
6185   3702391120                            포지티브         3  무기 및 유기화학제품
17587  6115110000  합성섬유제의 것(구성하는 단사가 67데시텍스미만의 것)         6     의류 및 직물류

In [5]:
hscode[(hscode['상품분류명'] == '기타') & (hscode['상품분류그룹명'] == '기타')]

           상품분류코드 상품분류명  상품분류그룹코드 상품분류그룹명
24132           #    기타        14      기타
24133        0000    기타        14      기타
24136        9900    기타        14      기타
24137        9999    기타        14      기타
24138   999999999    기타        14      기타
24139  9999999991    기타        14      기타
24140  9999999999    기타        14      기타
24141        ZZZZ    기타        14      기타
24142  ZZZZZZZZZZ    기타        14      기타

In [146]:
hscode.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27176 entries, 0 to 27175
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상품분류코드    27176 non-null  object
 1   상품분류명     27176 non-null  object
 2   상품분류그룹코드  27176 non-null  int64
 3   상품분류그룹명   27176 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.0+ MB

In [349]:
df['수출상품코드'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25547 entries, 0 to 25546
Series name: 수출상품코드
Non-Null Count  Dtype
--------------  -----
22982 non-null  object
dtypes: object(1)
memory usage: 199.7+ KB

In [350]:
df['수출상품코드'].isna().mean()

np.float64(0.10040317845539594)

In [351]:
df['수출상품코드'] = df['수출상품코드'].astype(str).str.replace(r'\.0$', '', regex=True)
df['수출상품코드'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25547 entries, 0 to 25546
Series name: 수출상품코드
Non-Null Count  Dtype
--------------  -----
25547 non-null  object
dtypes: object(1)
memory usage: 199.7+ KB

In [352]:
pd.merge(df, hscode, left_on='수출상품코드', right_on='상품분류코드', how='left')['상품분류명'].isna().mean()

np.float64(0.12958904109589042)

In [353]:
df = pd.merge(df, hscode, left_on='수출상품코드', right_on='상품분류코드', how='left')

In [354]:
df

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,상품코드,상품명,상품비고내용,상세사고보험상품,상품분류코드,상품분류명,상품분류그룹코드,상품분류그룹명
0,2022120351200010,1,111042630,1001,2022-07-08 16:50:20,1,TWD,8408.0,295.12,332956,8408.0,295.12,332956,0.0,0.0,0.00,0,20220714.0,20220714.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-06-23,502,502,ZZ,C9006,20220714,수출자 농업회사법인주식회사 함초록 '21년 12월 대만 수출관련 수입국 검역위험 사고건임,TWD,8.408000e+03,295.12,332956,8.408000e+03,295.12,332956,10000000.0,8766.54,10000000,10000000.0,8766.54,10000000,20210324,6000979587,6003984606.0,20.0,704902000,100.0,20210707.0,0.0,NaN,1103213214,2022120351200010,112021439811,0.0,1.0,11016,C0130,N,2022-06-23,0,1.103210e+11,4.0,N,N,수입국검역위험,D/A,결제방법(인수),기타종결,사고접수 결재완료,NaN,기타,수입국검역위험,11016,단기수출보험(농수산물패키지),"무역보험운영 개선과제 추진계획」(11.6.13자, 사장결재)에 의거 ‘상품포트폴리...",일반,704902000,배추,1.0,"농수산물, 식료품"
1,2022120373610007,1,111042418,1001,2022-08-01 15:38:49,1,USD,38250.0,38250.00,45345375,38250.0,38250.00,45345375,0.0,0.0,0.00,0,20220804.0,20220804.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-05-02,204,204,06,C9007,20220912,ㅇ 동인중공업(주) 대 러시아 TECHNOPARK IMPULSE LLC 간 단기수출...,USD,4.250000e+04,42500.00,50383750,4.250000e+04,42500.00,50383750,42500.0,42500.00,50383000,38250.0,38250.00,45345000,20211231,6000196027,6001714449.0,20.0,8431491000,90.0,20220104.0,0.0,41.0,1120018393,2022120373610007,112022845954,0.0,1.0,11002,C2100,N,2022-05-03,0,1.120200e+11,0.0,N,N,신용위험-지급지체,D/A,결제방법(인수),전액회수종결,채권종결 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,11002,단기수출보험(일반수출),NaN,일반,8431491000,유압브레이카,9.0,기계류
2,202212041ZZZ0101,1,151021622,1001,2022-07-25 15:38:33,1,KRW,168215529.0,144020.14,168215529,165762751.0,141920.16,165762751,0.0,2452778.0,2099.98,2452778,20220725.0,20220727.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-06-10,703,703,06,C0155,20220802,○ '22. 4. 12. 이자연체\n - 최초사고사유발생일: '22. 4. 12....,KRW,1.800000e+08,154109.58,180000000,1.800000e+08,154109.58,180000000,180000000.0,167738.33,180000000,180000000.0,167738.33,180000000,20210825,6000279658,NaN,NaN,9999,100.0,20210825.0,0.0,NaN,15-1402-8404-008,202212041ZZZ0101,152014369346,8.0,1.0,15001,C0130,N,2022-06-14,0,1.520140e+11,8.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체,15001,수출신용보증(선적전),NaN,일반,9999,기타,14.0,기타
3,2018120359990060,1,111036609,1001,2022-07-04 09:04:59,1,USD,20000.0,20000.00,22500000,20000.0,20000.00,22500000,0.0,0.0,0.00,0,20220704.0,20220707.0,0.0,0,1.0,100892,지급 판정,지급 판정,2018-12-03,204,204,06,C0155,20220708,수입자 지급지체,USD,3.258300e+04,32583.00,36655875,3.258300e+04,32583.00,36655875,20000.0,20000.00,22500000,20000.0,20000.00,22500000,20171031,6000459415,6001442648.0,20.0,nan,95.0,20171101.0,0.0,NaN,1117105254,2018120359990060,112017484770,0.0,1.0,11012,C0130,N,2018-12-04,0,1.120171e+11,0.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,NaN,판단불가,신용위험-지급지체,11012,단기수출보험(플러스보험),NaN,일반,NaN,NaN,NaN,NaN
4,2022120351350006,1,111042200,2,2022-07-04 09:15:28,1,USD,206800.0,206800.00,230044320,206800.0,206800.00,230044320,0.0,0.0,0.00,0,20220704.0,20220704.0,0.0,0,1.0,100631,연속수출,연속수출(면책사유),2022-03-14,204,204,06,C9008,20220704,o (주)지어신코리아 대 베트남 MK NOAH VINA CO LTD간 단기(중소중견...,USD,2.068000e+05,206800.00,230044320,2.068000e+05,206800.00,230044320,450000.0,450000.00,502155000,450000.0,450000.00,502155000,20201112,6000152647,6000493216.0,NaN,390120000,100.0,20201217.0,0.0,NaN,1111207732,2022120351350006,112020915000,0.0,1.0,11012,C0130,N,2022-03-14,0,1.111200e+11,3.0,N,N,신용위험-지급지체,NaN,NaN,면책종결,사고접수 결재완료,NaN,판단불가,신용위험-지급지체,11012,단기수출보험(플러스보험),NaN,일반,390120000,에틸렌의 중합체,3.0,무기 및 유기화학제품
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25545,2025120369990009,1,111045455,1001,2025-05-13 09:16:09,2,USD,50000.0,50000.00,68925000,50000.0,50000.00,68925000,0.0,0.0,0.00,0,20250513.0,20250515.0,0.0,0,1.0,100892,지급 판정,지급 판정,2025-03-24,206,206,06,C0155,20250521,"(주)타래 대 미국 F21 OPCO, LLC 간 단체보험 사고건\n- 사고금액 : ...",USD,6.556535e+04,65565.35,90381834,6.556535e+04,65565.35,90381834,50000.0,50000.00,68220000,50000.0,50000.00,68220000,20240503,6001440152,6001744772.0,20.0,nan,95.0,20240509.0,0.0,NaN,1105245517,2025120369990009,112024846929,0.0,1.0,11023,C0130,N,2025-03-24,0,1.105242e+11,0.0,N,N,신용위험-파산,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,NaN,판단불가,신용위험-파산,11023,단기수출보험(단체보험),SRP-20231123-023-04_단기수출보험(단체보험) 전산 개발 요청,일반,NaN,NaN,NaN,NaN
25546,202512041ZZZ0029,1,151022592,1001,2025-05-13 11:05:48,1,KRW,92002267.0,71837.47,92002267,90000000.0,70274.06,90000000,0.0,2002267.0,1563.41,2002267,20250512.0,20250515.0,0.0,0,1.0,100892,지급 판정,지급 판정,2025-02-05,703,703,06,C0155,20250516,○ '25. 1. 14. 이자연체\n - 최초사고사유발생일: '25. 1. 14....,KRW,9.000000e+07,70274.06,90000000,9.000000e+07,70274.06,90000000,90000000.0,70676.93,90000000,90000000.0,70676.93,90000000,20230802,6000916379,NaN,NaN,9999,100.0,20230802.0,0.0,NaN,15-0822-4906-001,202512041ZZZ0029,152022401733,1.0,1.0,15001,C0130,N,2025-02-10,0,1.508221e+11,1.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체,15001,수출신용보증(선적전),NaN,일반,9999,기타,14.0,기타
25547,202512041ZZZ0054,1,151022614,1001,2025-05-13 16:17:29,1,KRW,92525531.0,68690.07,92525531,90000000.0,66815.14,90000000,0.0,2525531.0,1874.93,2525531,20250512.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,2025-02-27,705,705,06,C0155,20250520,○ '25. 2. 26. 기한의이익상실(중기신속금융지원 프로그램 중단)\n - 최...,KRW,9.000000e+07,66815.14,90000000,9.000000e+07,66815.14,90000000,90000000.0,66509.02,90000000,90000000.0,66509.02,90000000,20231026,3100104824,NaN,NaN,9999,100.0,20231026.0,0.0,NaN,15-1120-8471-003,202512041ZZZ0054,152020846724,3.0,1.0,15001,C0130,N,2025-02-28,0,1.511200e+11,3.0,N,N,기한의이익상실,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,기한의이익상실,15001,수출신용보증(선적전),NaN,일반,9999,기타,14.0,기타
25548,202512041ZZZ0081,1,151022641,1001,2025-05-13 17:57:43,1,KRW,206785972.0,151447.17,206785972,204300000.0,149626.48,204300000,0.0,2485972.0,1820.69,2485972,20250509.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,2025-03-25,703,703,06,C0155,20250521,○ '25. 3. 25. 이자연체\n - 최초사고사유발생일: '25. 3. 25....,KRW,2.043000e+08,149626.48,204300000,2.043000e+08,149626.48,204300000,225000000.0,165064.93,225000000,225000000.0,165064.93,225000000,20240528,6000069149,NaN,NaN,9999,100.0,20240528.0,0.0,NaN,15-1605-2869-008,202512041ZZZ0081,152016334371,8.0,1.0,15001,C0130,N,2025-03-25,0,1.520161e+11,8.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체,15001,수출신용보증(선적전),NaN,일반,9999,기타,14.0,기타
25549,202512041ZZZ0082,1,151022642,1001,2025-05-13 15:48:35,1,KRW,145430221.0,109849.84,145430221,142500000.0,107636.52,142500000,0.0,2930221.0,2213.32,2930221,20250513.0,20250520.0,0.0,0,1.0,100892,지급 판정,지급 판정,2025-03-26,703,703,06,C0155,20250521,○ '25. 2. 1. 이자연체\n - 최초사고사유발생일: '25. 2. 1. 이자연체,KRW,1.425000e+08,107636.52,142500000,1.425000e+08,107636.52,142500000,142500000.0,106949.86,142500000,142500000.0,106949.86,142500000,20240827,6005377788,NaN,NaN,nan,100.0,20240827.0,0.0,NaN,15-0824-3657-000,202512041ZZZ0082,152024160852,0.0,1.0,15001,C0130,N,2025-03-27,0,1.508243e+11,0.0,N,N,이자연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,이자연체,15001,수출신용보증(선적전),NaN,일반,NaN,NaN,NaN,NaN

#### 수출상품코드 형태 분석

In [29]:
du = df[['수출상품코드']]
du

             수출상품코드
0       704902000.0
1      8431491000.0
2            9999.0
3               NaN
4       390120000.0
...             ...
50943           NaN
50944        9999.0
50945        9999.0
50946        9999.0
50947           NaN

[50948 rows x 1 columns]

In [23]:
df['수출상품코드'] = df['수출상품코드'].astype(str).str.replace(r'\.0$', '', regex=True)
# du.reset_index(drop=True)

0         704902000.0
1        8431491000.0
2              9999.0
3                 NaN
4         390120000.0
             ...
50943             NaN
50944          9999.0
50945          9999.0
50946          9999.0
50947             NaN
Name: 수출상품코드, Length: 50948, dtype: object

In [30]:
du['hscode_clean'] = (
    df['수출상품코드']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\289291930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['hscode_clean'] = (

In [362]:
df[df['사고번호'] == 111045602]

Empty DataFrame
Columns: [보상파일번호_x, 보상판정회차, 사고번호, 판정구분코드_TB_RCB230_RC051, 등록일시, 총액부분금액구분코드_RC053, 판정통화코드_ZZ067, 외화합계판정금액, 미화합계판정금액, 원화합계판정금액, 외화판정금액, 미화판정금액, 원화판정금액, 외화연체이자금액, 외화약정이자금액, 미화약정이자금액, 원화약정이자금액, 통화기준일자_x, 지급기준일자, 미화연체이자금액, 원화연체이자금액, 판정사유순번, 판정사유코드, 심사항목명, 상품심사항목명, 사고접수일자, 사고유형코드, 접수사고유형코드_RC001, 향후결제전망코드_RC002, 사고진행상태코드_RC023, 사고진행상태변경일자, 사고설명, 사고통화코드_ZZ067, 외화사고접수금액, 미화사고접수금액, 원화사고접수금액, 외화사고금액, 미화사고금액, 원화사고금액, 외화보험가액, 미화보험가액, 원화보험가액, 외화보험금액, 미화보험금액, 원화보험금액, 통화기준일자_y, 수출자대상자번호, 수입자대상자번호, 결제방법코드_RA600, 수출상품코드, 부보율, 보험성립일자, 외화인수누계결제금액, 결제조건코드, 보험증권번호, 보상파일번호_y, 수출보험계약번호, 수출보험계약변경회차, 수출보험계약내역순번, 사고보험상품코드_RM051, 사고등록상태코드_RC042, 신속보상대상여부, 사고접수확정일자, 상세사고보험상품코드_RC064, 청약번호, 청약변경회차, 손실분담사고여부, 매입보증연계보험가입여부, 사고유형명, 결제방법, 결제방법설명, 사고진행상태, 사고등록상태명, 결제조건, 향후결제전망, 접수사고유형확정, 상품코드, 상품명, 상품비고내용, 상세사고보험상품, 상품분류코드, 상품분류명, 상품분류그룹코드, 상품분류그룹명]
Index: []

In [31]:
du

             수출상품코드 hscode_clean
0       704902000.0    704902000
1      8431491000.0   8431491000
2            9999.0         9999
3               NaN
4       390120000.0    390120000
...             ...          ...
50943           NaN
50944        9999.0         9999
50945        9999.0         9999
50946        9999.0         9999
50947           NaN

[50948 rows x 2 columns]

In [32]:
du['length'] = du['수출상품코드'].str.len()
du['is_digit'] = du['수출상품코드'].str.isdigit()

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\111266155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['length'] = du['수출상품코드'].str.len()
C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\111266155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['is_digit'] = du['수출상품코드'].str.isdigit()

In [33]:
du['is_digit'].value_counts()

is_digit
True     27124
False     1025
Name: count, dtype: int64

In [34]:
du['length'].value_counts()

length
10.0    19396
4.0      6641
6.0       789
1.0       733
5.0       275
3.0       210
8.0        86
9.0        14
7.0         5
Name: count, dtype: int64

In [37]:
du[du['length'] == 4]['수출상품코드'].value_counts()

수출상품코드
9999    3928
4011     526
AB04     274
5804     150
8534     100
        ...
5808       1
6005       1
8406       1
8537       1
5111       1
Name: count, Length: 197, dtype: int64

In [41]:
du[du['is_digit']==False]

         수출상품코드 hscode_clean  length is_digit
20702         #            #     1.0    False
20704         #            #     1.0    False
20780         #            #     1.0    False
20781         #            #     1.0    False
20794         #            #     1.0    False
...         ...          ...     ...      ...
39128      AA01         AA01     4.0    False
39129      AA01         AA01     4.0    False
39130      AA01         AA01     4.0    False
40900      AA01         AA01     4.0    False
48109  S7607001     S7607001     8.0    False

[1025 rows x 4 columns]

### df + (수입자, 수출자)

In [363]:
df.shape

(25550, 84)

In [167]:
du = df[['수출자대상자번호', '수입자대상자번호']]

In [168]:
du['수출자대상자번호'] = (
    df['수출자대상자번호']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

du['수입자대상자번호'] = (
    df['수입자대상자번호']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\1268046882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수출자대상자번호'] = (
C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\1268046882.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수입자대상자번호'] = (

In [169]:
du['수입자_len'] = du['수입자대상자번호'].str.len()
du['수입자_digit'] = du['수입자대상자번호'].str.isdigit()

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\2621192452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수입자_len'] = du['수입자대상자번호'].str.len()
C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\2621192452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수입자_digit'] = du['수입자대상자번호'].str.isdigit()

In [170]:
du['수출자_len'] = du['수출자대상자번호'].str.len()
du['수출자_digit'] = du['수출자대상자번호'].str.isdigit()

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\3331366582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수출자_len'] = du['수출자대상자번호'].str.len()
C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\3331366582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du['수출자_digit'] = du['수출자대상자번호'].str.isdigit()

In [172]:
du.수입자_len.value_counts()

수입자_len
10    41438
0     10455
4        51
1         8
Name: count, dtype: int64

In [177]:
du

         수출자대상자번호    수입자대상자번호  수입자_len  수입자_digit  수출자_len  수출자_digit
0      6000979587  6003984606       10       True       10       True
1      6000196027  6001714449       10       True       10       True
2      6000279658                    0      False       10       True
3      6000459415  6001442648       10       True       10       True
4      6000152647  6000493216       10       True       10       True
...           ...         ...      ...        ...      ...        ...
51947  6001440152  6001744772       10       True       10       True
51948  6000916379                    0      False       10       True
51949  3100104824                    0      False       10       True
51950  6000069149                    0      False       10       True
51951  6005377788                    0      False       10       True

[51952 rows x 6 columns]

In [182]:
du[(du['수입자_len'] == 4) | (du['수입자_len'] == 1)]

         수출자대상자번호 수입자대상자번호  수입자_len  수입자_digit  수출자_len  수출자_digit
6415   3100014043     2115        4       True       10       True
6416   3100014043     2115        4       True       10       True
13404  3100014043     2115        4       True       10       True
13405  3100014043     2115        4       True       10       True
13523  3100000430     2121        4       True       10       True
13524  3100000430     2121        4       True       10       True
13538  3100000430     2280        4       True       10       True
13539  3100000430     2280        4       True       10       True
13540  3100000430     2280        4       True       10       True
17125  3100000430     2154        4       True       10       True
17168  3100003252     2333        4       True       10       True
17189  3100000666     2333        4       True       10       True
17403  3100000014     2285        4       True       10       True
17404  3100000014     2285        4       True       10       True
17588  3100000430     2154        4       True       10       True
17589  3100000430     2154        4       True       10       True
17590  3100000430     2154        4       True       10       True
17591  3100000430     2154        4       True       10       True
17592  3100000430     2154        4       True       10       True
17593  3100000430     2154        4       True       10       True
19720  3100000430     2121        4       True       10       True
20555  3100000041     2367        4       True       10       True
20643  3100000071     2176        4       True       10       True
20795  3100000404     2333        4       True       10       True
22904  3100003624     2255        4       True       10       True
22982  3100000430     2154        4       True       10       True
22983  3100000430     2154        4       True       10       True
23075  3100002451     2115        4       True       10       True
23076  3100002451     2115        4       True       10       True
23077  3100002451     2115        4       True       10       True
23666  3100000073     2154        4       True       10       True
23667  3100000073     2154        4       True       10       True
23668  3100000073     2154        4       True       10       True
23669  3100000073     2154        4       True       10       True
23670  3100000073     2154        4       True       10       True
23671  3100000073     2154        4       True       10       True
23672  3100000073     2154        4       True       10       True
23673  3100000073     2154        4       True       10       True
23674  3100000073     2154        4       True       10       True
23675  3100000073     2154        4       True       10       True
23676  3100000073     2154        4       True       10       True
23677  3100000073     2154        4       True       10       True
23678  3100000073     2154        4       True       10       True
23762  3100003624     2333        4       True       10       True
23763  3100003624     2333        4       True       10       True
23836  3100003624     2333        4       True       10       True
23905  3100000311     2121        4       True       10       True
24097  3100000071     2154        4       True       10       True
24183  3100003624     2333        4       True       10       True
24638  3100000073     2154        4       True       10       True
24639  3100000073     2154        4       True       10       True
33444  3100106785        #        1      False       10       True
33445  3100106785        #        1      False       10       True
33446  3100106785        #        1      False       10       True
33447  3100106785        #        1      False       10       True
33448  3100106785        #        1      False       10       True
39555  3100106785        #        1      False       10       True
39566  3100106785        #        1      False       10       True
43590  3100106785        #        1      False       10       True

In [183]:
du.수출자_len.value_counts()

수출자_len
10    51952
Name: count, dtype: int64

In [174]:
df['수출자대상자번호'].nunique()

12127

## 접수일자 분류

In [205]:
# df = pd.read_csv('Data/df.csv', encoding='cp949', index_col=0)
df['사고접수일자'].value_counts()

사고접수일자
20200206    386
20020308    382
20010714    307
20200928    233
20210309    192
           ...
19950214      1
20200609      1
20201104      1
20190225      1
19990427      1
Name: count, Length: 7396, dtype: int64

In [204]:
df[['사고접수확정일자', '사고접수일자']].isna().mean()

사고접수확정일자    0.00002
사고접수일자      0.00000
dtype: float64

In [210]:
df['사고접수확정일자'] = (
    df['사고접수확정일자']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

In [209]:
# df['사고접수일자'] = df['사고접수일자'].astype(str)
pd.to_datetime(df['사고접수일자']).value_counts()

사고접수일자
2020-02-06    386
2002-03-08    382
2001-07-14    307
2020-09-28    233
2021-03-09    192
             ...
1995-02-14      1
2020-06-09      1
2020-11-04      1
2019-02-25      1
1999-04-27      1
Name: count, Length: 7396, dtype: int64

In [211]:
# df['사고접수확정정일자'] = df['사고접수일자'].astype(str)
pd.to_datetime(df['사고접수확정일자']).value_counts()

사고접수확정일자
2002-03-08    382
2001-07-14    307
2021-12-14    239
2020-09-28    233
2020-07-16    180
             ...
2025-04-01      1
2025-06-24      1
2025-05-02      1
2025-04-29      1
2025-06-13      1
Name: count, Length: 7291, dtype: int64

In [212]:
df['사고접수일자'] = pd.to_datetime(df['사고접수일자'])
df['사고접수일자'].dt.year

0        2022
1        2022
2        2022
3        2018
4        2022
         ...
50943    2025
50944    2025
50945    2025
50946    2025
50947    2025
Name: 사고접수일자, Length: 50948, dtype: int32

In [213]:
df['사고접수확정일자'] = pd.to_datetime(df['사고접수확정일자'])
df['사고접수확정일자'].dt.year

0        2022.0
1        2022.0
2        2022.0
3        2018.0
4        2022.0
          ...
50943    2025.0
50944    2025.0
50945    2025.0
50946    2025.0
50947    2025.0
Name: 사고접수확정일자, Length: 50948, dtype: float64

In [215]:
df[df['사고접수일자'].dt.year >= 2010]['수출자대상자번호'].str.len().value_counts()

수출자대상자번호
10.0    6746
Name: count, dtype: int64

In [219]:
df[df['사고접수일자'].dt.year >= 2010]['수입자대상자번호'].str.len().value_counts()

수입자대상자번호
10.0    17773
1.0         8
Name: count, dtype: int64

In [222]:
df[df['수입자대상자번호'].str.len() == 1]['수입자대상자번호']

32447    #
32448    #
32449    #
32450    #
32451    #
38556    #
38567    #
42591    #
Name: 수입자대상자번호, dtype: object

In [224]:
df[df['사고접수일자'].dt.year >= 2010].shape

(25547, 76)

In [227]:
df[df['사고접수일자'].dt.year >= 2010]['수입자대상자번호']

0        6003984606.0
1        6001714449.0
2                 NaN
3        6001442648.0
4        6000493216.0
             ...
50943    6001744772.0
50944             NaN
50945             NaN
50946             NaN
50947             NaN
Name: 수입자대상자번호, Length: 25547, dtype: object

In [231]:
수출자['대상자번호'] = 수출자['대상자번호'].astype(str)

In [235]:
df['수출자대상자번호'] = df['수출자대상자번호'].astype(str)

In [232]:
# 누락된 번호만 추출
누락_번호 = df.loc[~df['수출자대상자번호'].isin(수출자['대상자번호']), '수출자대상자번호'].dropna().unique()

# 출력
print("수출자에서 누락된 대상자번호 목록:")
print(누락_번호)

수출자에서 누락된 대상자번호 목록:
[6000979587 6000196027 6000279658 ... 3100104824 6000069149 6005377788]

In [236]:
df['수출자대상자번호'].isin(수출자['대상자번호']).value_counts()

수출자대상자번호
False    27473
True     23475
Name: count, dtype: int64

In [233]:
len(누락_번호)

9748

#### 대상자 유니크 개수 비교

In [ ]:
df['수출자대상자번호']

0        6000979587
1        6000196027
2        6000279658
3        6000459415
4        6000152647
            ...
51947    6001440152
51948    6000916379
51949    3100104824
51950    6000069149
51951    6005377788
Name: 수출자대상자번호, Length: 51952, dtype: object

In [176]:
수출자.대상자번호.nunique()

2379

In [156]:
수출자[['대상자번호', '대상자명', '대분류', '중분류', '세세분류', '국가한글명']]

,대상자번호,대상자명,대분류,중분류,세세분류,국가한글명
0,3100010621,한국야금(주),제조업,금속가공제품 제조업; 기계 및 가구 제외,톱 및 호환성 공구 제조업,대한민국
1,3100106901,마이스터인터내셔날(주),도매 및 소매업,도매 및 상품 중개업,의복 액세서리 및 모조 장신구 도매업,대한민국
2,3100106901,마이스터인터내셔날(주),도매 및 소매업,도매 및 상품 중개업,의복 액세서리 및 모조 장신구 도매업,대한민국
3,3100106901,마이스터인터내셔날(주),도매 및 소매업,도매 및 상품 중개업,의복 액세서리 및 모조 장신구 도매업,대한민국
4,3100109909,세메스 주식회사,제조업,기타 기계 및 장비 제조업,반도체 제조용 기계 제조업,대한민국
...,...,...,...,...,...,...
9556,6000451257,신신석재 (주),NaN,NaN,NaN,대한민국
9557,6000436022,와이앤와이,제조업,기타 기계 및 장비 제조업,펄프 및 종이 가공용 기계 제조업,대한민국
9558,3100003064,무림페이퍼(주),NaN,NaN,NaN,대한민국
9559,3100003054,넥센타이어(주),NaN,NaN,NaN,대한민국
9560,3100005784,삼해상사(주),"농업, 임업 및 어업",농업,곡물 및 기타 식량작물 재배업,대한민국

In [158]:
수입자

,대상자번호,업종코드,대상자코드,대분류,중분류,세세분류,국가한글명,표준약식국가코드
0,2552100040,45120,552,도매 및 소매업,자동차 및 부품 판매업,중고 자동차 판매업,니카라과,NI
1,2552100040,45120,552,도매 및 소매업,자동차 및 부품 판매업,중고 자동차 판매업,니카라과,NI
2,2552100040,45120,552,도매 및 소매업,자동차 및 부품 판매업,중고 자동차 판매업,니카라과,NI
3,2450100996,46800,450,도매 및 소매업,도매 및 상품 중개업,상품 종합 도매업,미국,US
4,2450100996,46800,450,도매 및 소매업,도매 및 상품 중개업,상품 종합 도매업,미국,US
...,...,...,...,...,...,...,...,...
19715,6005315660,46329,136,도매 및 소매업,도매 및 상품 중개업,기타 가공식품 도매업,인도네시아,ID
19716,6005315660,46329,136,도매 및 소매업,도매 및 상품 중개업,기타 가공식품 도매업,인도네시아,ID
19717,6005314380,52992,121,운수 및 창고업,창고 및 운송관련 서비스업,"화물 운송 중개, 대리 및 관련 서비스업",중국,CN
19718,6005314380,52992,121,운수 및 창고업,창고 및 운송관련 서비스업,"화물 운송 중개, 대리 및 관련 서비스업",중국,CN
19719,6005358684,21211,135,NaN,NaN,NaN,인도,IN

#### 대상자 보완

In [238]:
dae = pd.read_csv('Data/da1.csv', encoding='cp949', index_col=0)
dae.head()

,대상자번호,업종코드1,대상자명,대상자코드
71,2618100850,D2951,EL ARABY COMPANY FOR ENGINEERING INDUSTRIES SA...,618
90,6000054604,G5012,나폴레옹무역상사,100
149,2180101941,G5143,RUNG SIAM AIR AND SERVICE CO LTD,180
168,6000054141,D1799,(주)부선교역,100
184,2360101245,G5269,COMET GROUP P L C(COMET),360

In [ ]:
dae.isin(df[''])

In [242]:
df['수출자대상자번호'].isin(dae['대상자번호']).value_counts()

수출자대상자번호
True     30733
False    20215
Name: count, dtype: int64

In [284]:
df['수입자대상자번호'].nunique(), df['수출자대상자번호'].nunique()

(5348, 6462)

In [285]:
dae['대상자번호'].nunique()

7645

In [283]:
df = df[df['사고접수일자'].dt.year >= 2010]
df.수출자대상자번호.nunique(), df.수입자대상자번호.nunique()

(6462, 5348)

In [259]:
u = dae['대상자번호'].value_counts().reset_index()
u.groupby('count').size().reset_index(name='기업수')

    count   기업수
0       1  1442
1       2  1328
2       3  1197
3       4  1053
4       5   825
5       6   612
6       7   422
7       8   311
8       9   213
9      10    92
10     11    63
11     12    46
12     13    13
13     14    19
14     15     4
15     16     2
16     17     2
17     20     1

In [262]:
ups = pd.read_csv('Data/업종코드목록.csv', encoding='cp949')
ups.sample(1)
# pd.merge(dae, ups, )

,업종코드,업종한글명,업종영문명,국내업체업종\n세그먼트코드,국외업체업종\n세그먼트코드,SRR\n업종코드,SRR\n업종명,계층구분
693,28122,전기회로 접속장치 제조업,Manufacture of apparatuses for connecting elec...,중공업,중공업,271,"Manufacture of Electric Motors, Generators, Tr...",4.0

In [274]:
ups

,업종코드,업종한글명,업종영문명,국내업체업종\n세그먼트코드,국외업체업종\n세그먼트코드,SRR\n업종코드,SRR\n업종명,계층구분
0,0,해당사항없음,NaN,NaN,NaN,NaN,NaN,NaN
1,0,구분없음,NaN,기타,비제조업,NaN,NaN,4.0
2,1,농업,Agriculture,경공업,경공업,A,"Agriculture, Forestry and Fishing",1.0
3,11,작물 재배업,Growing of crops,경공업,경공업,A,"Agriculture, Forestry and Fishing",2.0
4,111,곡물 및 기타 식량작물 재배업,Growing of cereal crops and other crops for food,경공업,경공업,A,"Agriculture, Forestry and Fishing",3.0
...,...,...,...,...,...,...,...,...
2076,990,국제 및 외국기관,Activities of extraterritorial organizations a...,기타,비제조업,OSTU,"Public Admin and Defense, Other Services (O,S,...",2.0
2077,9900,국제 및 외국기관,Activities of extraterritorial organizations a...,기타,비제조업,OSTU,"Public Admin and Defense, Other Services (O,S,...",3.0
2078,99001,주한 외국공관,Foreign officail residence,기타,비제조업,OSTU,"Public Admin and Defense, Other Services (O,S,...",4.0
2079,99009,기타 국제 및 외국기관,Other extraterritorial organizations and bodie...,기타,비제조업,OSTU,"Public Admin and Defense, Other Services (O,S,...",4.0
2080,99999,기타[MTI],NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
dae.rename(columns={'업종코드1' : '업종코드'}, inplace=True)
dae['업종코드'] = dae['업종코드'].astype(str).str.replace(r'\.0$', '', regex=True)
dae

,대상자번호,업종코드,대상자명,대상자코드
71,2618100850,D2951,EL ARABY COMPANY FOR ENGINEERING INDUSTRIES SA...,618
90,6000054604,G5012,나폴레옹무역상사,100
149,2180101941,G5143,RUNG SIAM AIR AND SERVICE CO LTD,180
168,6000054141,D1799,(주)부선교역,100
184,2360101245,G5269,COMET GROUP P L C(COMET),360
...,...,...,...,...
13172682,3100115032,13221,(주)명진제이앤에스,100
13172683,3100113665,14191,(주)우리셔츠,100
13172708,3100000014,46800,(주)지에스글로벌,100
13172714,3100021294,13229,양림물산(주),100
13172723,3100107266,27199,(주)인바디,100

In [280]:
dae.shape, ups.shape

((29803, 4), (2081, 8))

In [287]:
dae.sample(1)

              대상자번호   업종코드                           대상자명  대상자코드
2184940  6000111783  D3219  EFUN TECHNOLOGY CO LTD (EFUN)    120

In [298]:
dae = dae[['대상자번호', '대상자명', '대상자코드']].drop_duplicates(subset=['대상자번호', '대상자코드'])
y = dae['대상자번호'].value_counts().reset_index()
y.groupby('count').size().reset_index(name='기업수')

   count   기업수
0      1  7645

In [299]:
dae['대상자번호'].value_counts()

대상자번호
6001695916    1
2618100850    1
6000054604    1
2180101941    1
6000054141    1
             ..
6000056629    1
3100103507    1
3100114588    1
3100107474    1
2352100455    1
Name: count, Length: 7645, dtype: int64

In [297]:
dae[dae['대상자번호'] == '6000285162']

               대상자번호                                               대상자명  대상자코드
1526159   6000285162  TOVARYSTVO Z OBMEZHENOYU VIDPOVIDALNISTYU TORG...    366
1535088   6000285162                                 OMEGA-AVTOPOSTAVKA    366
2467252   6000285162  TOV TORGHOVO PROMYSLOVA KOMPANIYA OMEGA AVTOPO...    366
2482005   6000285162  TOV TORGHOVO PROMYSLOVA KOMPANIYA OMEGA AVTOPO...    366
4156273   6000285162                         TOV TPK OMEGA AVTOPOSTAVKA    366
13146353  6000285162  OMEGA AVTOPOSTAVKA TRADE AND PRODUCTION COMPAN...    366

In [335]:
da2['대상자번호'] = da2['대상자번호'].astype(str)
df['수출자대상자번호'] = df['수출자대상자번호'].astype(str)

In [343]:
df.shape

(25547, 76)

In [291]:
dae[['대상자번호', '대상자명', '대상자코드']]['대상자번호'].nunique()

7645

In [336]:
df.merge(da2, left_on='수출자대상자번호', right_on='대상자번호', how='left', suffixes=('', '_수출자'))['대상자번호'].isna().mean()

np.float64(0.1007554703096254)

In [319]:
df.shape

(25547, 76)

In [333]:
da2 = dae[['대상자명', '대상자번호', '대상자코드']].drop_duplicates(subset=['대상자번호', '대상자코드'])

In [337]:
p1[~p1['대상자명'].isna()]['대상자명'].nunique()

4902

In [332]:
da2

71          2618100850
90          6000054604
149         2180101941
168         6000054141
184         2360101245
               ...
13171462    6001714016
13172171    6000473912
13172174    6000578572
13172629    6001105403
13172635    6001695916
Name: 대상자번호, Length: 7645, dtype: object

In [334]:
da2['대상자번호'] = da2['대상자번호'].astype(str)

In [330]:
p2 = df.merge(da2, left_on='수입자대상자번호', right_on='대상자번호', how='left', suffixes=('', '_수입자'))

In [313]:
dae = pd.read_csv('Data/da1.csv', encoding='cp949', index_col=0)
dae.head(1)

,대상자번호,업종코드1,대상자명,대상자코드
71,2618100850,D2951,EL ARABY COMPANY FOR ENGINEERING INDUSTRIES SA...,618

In [314]:
dae.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 71 to 13172723
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대상자번호   29803 non-null  object
 1   업종코드1   28062 non-null  object
 2   대상자명    29803 non-null  object
 3   대상자코드   29803 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [342]:
dae[dae['대상자번호'] == 6001630820]

Empty DataFrame
Columns: [대상자번호, 업종코드1, 대상자명, 대상자코드]
Index: []

In [341]:
p1[p1['대상자명'].isna()]['수출자대상자번호'].nunique()

1539

In [307]:
p1 = df.merge(dae, left_on='수출자대상자번호', right_on='대상자번호', how='left', suffixes=('', '_수출자'))
p1[p1['대상자명_수출자'].isna()]

KeyError: '대상자명_수출자'

In [279]:
ups['업종코드'] = ups['업종코드'].str.zfill(5)
pd.merge(dae, ups, on='업종코드')

,대상자번호,업종코드,대상자명,대상자코드,업종한글명,업종영문명,국내업체업종\n세그먼트코드,국외업체업종\n세그먼트코드,SRR\n업종코드,SRR\n업종명,계층구분
0,6000175789,46800,(주)엘에스네트웍스,100,상품 종합 도매업,Non-specialized wholesale trade,도소매,비제조업,46,"Wholesale Trade, except of Motor Vehicles and ...",4.0
1,3100010621,25934,한국야금(주),100,톱 및 호환성 공구 제조업,"Manufacture of saws, saw blades and interchang...",중공업,중공업,259,Manufacture of Other Fabricated Metal Products...,4.0
2,3100114725,25991,삼화왕관(주),100,금속 캔 및 기타 포장용기 제조업,Manufacture of metal cans and other containers,중공업,중공업,259,Manufacture of Other Fabricated Metal Products...,4.0
3,3100106901,46417,마이스터인터내셔날(주),100,의복 액세서리 및 모조 장신구 도매업,Wholesale of wear accessaries and costume jewe...,도소매,비제조업,46,"Wholesale Trade, except of Motor Vehicles and ...",4.0
4,2450100996,46800,SAMSUNG C AND T AMERICA INC,450,상품 종합 도매업,Non-specialized wholesale trade,도소매,비제조업,46,"Wholesale Trade, except of Motor Vehicles and ...",4.0
...,...,...,...,...,...,...,...,...,...,...,...
10764,3100115032,13221,(주)명진제이앤에스,100,침구 및 관련제품 제조업,Manufacture of bedding and related products,경공업,경공업,13,Manufacture of Textiles,4.0
10765,3100113665,14191,(주)우리셔츠,100,셔츠 및 블라우스 제조업,Manufacture of shirts and blouses,경공업,경공업,14,Manufacture of Wearing Apparel,4.0
10766,3100000014,46800,(주)지에스글로벌,100,상품 종합 도매업,Non-specialized wholesale trade,도소매,비제조업,46,"Wholesale Trade, except of Motor Vehicles and ...",4.0
10767,3100021294,13229,양림물산(주),100,기타 직물제품 제조업,Manufacture of other household made-up textile...,경공업,경공업,13,Manufacture of Textiles,4.0
10768,3100107266,27199,(주)인바디,100,그 외 기타 의료용 기기 제조업,Manufacture of other medical and surgical equi...,중공업,중공업,32,Other Manufacturing,4.0

In [278]:
dae.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 71 to 13172723
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대상자번호   29803 non-null  object
 1   업종코드    29803 non-null  object
 2   대상자명    29803 non-null  object
 3   대상자코드   29803 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [ ]:
dae['업종코드']

(2081, 8)

In [270]:
pd.merge(df, dae, left_on='수입자대상자번호', right_on='대상자번호', how='inner')

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,대상자번호,업종코드,대상자명,대상자코드
0,2010120364500118,1,111020319,1001,2011-02-16 11:42:03,1,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,0.0,0.0,0.0,0,20110217.0,20110217.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-12-30,204,204,06,C0155,20101230,첨부파일 참조,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,42385.36,42385.36,51328000,42385.36,42385.36,51328000,20100617,3100003980,2450108502,20.0,8525801020,100.0,20100617.0,0.0,41.0,1120079066,2010120364500118,112010457468,0.0,1.0,11002,C0130,N,2010-12-30,0,1.120071e+11,4.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,2450108502,G5199,PROAM ENTERPRISE INC(CLOVER ELECTRONICS) ...,450
1,2010120364500118,1,111020319,1001,2011-02-16 11:42:03,1,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,0.0,0.0,0.0,0,20110217.0,20110217.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-12-30,204,204,06,C0155,20101230,첨부파일 참조,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,42385.36,42385.36,51328000,42385.36,42385.36,51328000,20100617,3100003980,2450108502,20.0,8525801020,100.0,20100617.0,0.0,41.0,1120079066,2010120364500118,112010457468,0.0,1.0,11002,C0130,N,2010-12-30,0,1.120071e+11,4.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,2450108502,G5199,PROAM ENTERPRISE INC(CLOVER ELECTRONICS),450
2,2010120364500118,1,111020319,1001,2011-02-16 11:42:03,1,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,0.0,0.0,0.0,0,20110217.0,20110217.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-12-30,204,204,06,C0155,20101230,첨부파일 참조,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,42385.36,42385.36,51328000,42385.36,42385.36,51328000,20100617,3100003980,2450108502,20.0,8525801020,100.0,20100617.0,0.0,41.0,1120079066,2010120364500118,112010457468,0.0,1.0,11002,C0130,N,2010-12-30,0,1.120071e+11,4.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,2450108502,G519,PROAM ENTERPRISE INC,450
3,2010120364500118,1,111020319,1001,2011-02-16 11:42:03,1,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,0.0,0.0,0.0,0,20110217.0,20110217.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-12-30,204,204,06,C0155,20101230,첨부파일 참조,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,42385.36,42385.36,51328000,42385.36,42385.36,51328000,20100617,3100003980,2450108502,20.0,8525801020,100.0,20100617.0,0.0,41.0,1120079066,2010120364500118,112010457468,0.0,1.0,11002,C0130,N,2010-12-30,0,1.120071e+11,4.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,2450108502,G519,PROAM ENTERPRISE INC,450
4,2010120364500118,1,111020319,1001,2011-02-16 11:42:03,1,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,0.0,0.0,0.0,0,20110217.0,20110217.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-12-30,204,204,06,C0155,20101230,첨부파일 참조,USD,42385.36,42385.36,51328670,42385.36,42385.36,51328670,42385.36,42385.36,51328000,42385.36,42385.36,51328000,20100617,3100003980,2450108502,20.0,8525801020,100.0,20100617.0,0.0,41.0,1120079066,2010120364500118,112010457468,0.0,1.0,11002,C0130,N,2010-12-30,0,1.120071e+11,4.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,2450108502,46800,PROAM ENTERPRISE INC,450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60821,2022120364500017,2,111042902,1001,2023-02-14 11:27:54,1,USD,4725.00,4725.00,5969092,4725.00,4725.00,5969092,0.0,0.0,0.0,0,20230214.0,20230216.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-10-17,204,204,06,C0155,20230218,(주)보노텍스 대 미국 BELLA INTERNATIONAL TEXTILES INC ...,USD,4725.00,4725.00,5969092,4725.00,4725.00,5969092,4725.00,4725.00,5969000,4725.00,4725.00,5969000,20220526,6001629772,6000320312,13.0,6004100000,100.0,20220527.0,0.0,41.0,1104205206,2022120364500017,112022192124,0.0,1.0,11002,C0130,N,2022-10-17,0,1.120200e+11,5.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,6000320312,G519,BELLA INTERNATIONAL TEXTILE,450
60822,2022120364500017,2,111042902,1001,2023-02-14 11:27:54,1,USD,4725.00,4725.00,5969092,4725.00,4725.00,5969092,0.0,0.0,0.0,0,20230214.0,20230216.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-10-17,204,204,06,C0155,20230218,(주)보노텍스 대 미국 BELLA INTERNATIONAL TEXTILES INC ...,USD,4725.00,4725.00,5969092,4725.00,4725.00,5969092,4725.00,4725.00,5969000,4725.00,4725.00,5969000,20220526,6001629772,6000320312,13.0,6004100000,100.0,20220527.0,0.0,41.0,1104205206,2022120364500017,112022192124,0.0,1.0,11002,C0130,N,2022-10-17,0,1.120200e+11,5.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,6000320312,nan,BELLA INTERNATIONAL TEXTILE,450
60823,2022120364500017,2,111042903,1001,2023-02-14 11:28:32,1,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,0.0,0.0,0.0,0,20230214.0,20230216.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-10-17,204,204,06,C0155,20230218,(주)보노텍스 대 미국 BELLA INTERNATIONAL TEXTILES INC ...,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,15818.25,15818.25,19983000,15818.25,15818.25,19983000,20220526,6001629772,6000320312,13.0,6006340000,100.0,20220527.0,0.0,41.0,1104205206,2022120364500017,112022192133,0.0,1.0,11002,C0130,N,2022-10-17,0,1.120200e+11,5.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,6000320312,G519,BELLA INTERNATIONAL TEXTILE,450
60824,2022120364500017,2,111042903,1001,2023-02-14 11:28:32,1,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,0.0,0.0,0.0,0,20230214.0,20230216.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-10-17,204,204,06,C0155,20230218,(주)보노텍스 대 미국 BELLA INTERNATIONAL TEXTILES INC ...,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,15818.25,15818.25,19983000,15818.25,15818.25,19983000,20220526,6001629772,6000320312,13.0,6006340000,100.0,20220527.0,0.0,41.0,1104205206,2022120364500017,112022192133,0.0,1.0,11002,C0130,N,2022-10-17,0,1.120200e+11,5.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,6000320312,G519,BELLA INTERNATIONAL TEXTILE,450
60825,2022120364500017,2,111042903,1001,2023-02-14 11:28:32,1,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,0.0,0.0,0.0,0,20230214.0,20230216.0,0.0,0,1.0,100892,지급 판정,지급 판정,2022-10-17,204,204,06,C0155,20230218,(주)보노텍스 대 미국 BELLA INTERNATIONAL TEXTILES INC ...,USD,15818.25,15818.25,19983195,15818.25,15818.25,19983195,15818.25,15818.25,19983000,15818.25,15818.25,19983000,20220526,6001629772,6000320312,13.0,6006340000,100.0,20220527.0,0.0,41.0,1104205206,2022120364500017,112022192133,0.0,1.0,11002,C0130,N,2022-10-17,0,1.120200e+11,5.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,6000320312,nan,BELLA INTERNATIONAL TEXTILE,450

In [246]:
dae['대상자번호'].isin(df['수입자대상자번호']).value_counts()

대상자번호
False    20646
True      9157
Name: count, dtype: int64

In [ ]:
dae['대상자번호'] = dae['대상자번호'].astype(str)

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 71 to 13172723
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대상자번호   29803 non-null  object
 1   업종코드1   28062 non-null  object
 2   대상자명    29803 non-null  object
 3   대상자코드   29803 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [157]:
수입자[['대상자번호', '대상자명', '대분류', '중분류', '세세분류', '국가한글명']]

KeyError: "['대상자명'] not in index"

In [345]:
df.shape

(25547, 76)

In [364]:
df.shape

(25550, 84)

In [366]:
df.sample(2)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,상품코드,상품명,상품비고내용,상세사고보험상품,상품분류코드,상품분류명,상품분류그룹코드,상품분류그룹명
19095,2019120351350037,1,111038106,1001,2020-07-22 16:10:55,1,USD,196876.08,196876.08,232215336,196876.08,196876.08,232215336,0.0,0.0,0.0,0,20200804.0,20200804.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2019-12-20,204,204,06,C0155,20200805,(주)효성티앤씨 대 인도 INDO ALUSYS INDUSTRIES 간 단기(일반) ...,USD,207237.98,207237.98,244437197,207237.98,207237.98,244437197,207237.98,207237.98,244437000,196876.08,196876.08,232215000,20190719,6001386535,6001393532,20.0,7208390000,95.0,20190827.0,0.0,41.0,1119021707,2019120351350037,112019908592,0.0,1.0,11002,C0130,N,2019-12-20,0,1.120190e+11,0.0,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,11002,단기수출보험(일반수출),NaN,일반,7208390000,두께가 3밀리미터미만의 것,8.0,"금속, 비금속류"
653,2010120364500086,1,111019853,1001,2010-11-02 11:06:47,1,USD,158745.95,158745.95,217926439,158745.95,158745.95,217926439,0.0,0.0,0.0,0,20101104.0,20101104.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2010-06-17,204,204,06,C0155,20100823,첨부파일 참조. 끝.,USD,167101.00,167101.00,229396252,167101.00,167101.00,229396252,167101.00,167101.00,229396000,158745.95,158745.95,217926000,20081013,3100003054,2450121899.0,20.0,4011101000,95.0,20090311.0,0.0,41.0,NaN,2010120364500086,112008411357,1.0,1.0,11002,C0130,N,2010-08-23,0,NaN,NaN,N,N,신용위험-지급지체,D/A,결제방법(인수),사후관리인수인계,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,11002,단기수출보험(일반수출),NaN,일반,4011101000,래디알구조의 것,4.0,"고무, 가죽"

In [368]:
final = pd.read_csv('Data/final_df.csv', encoding='cp949', index_col=0)
final.columns

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\2394145363.py:1: DtypeWarning: Columns (47,48,50) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv('Data/final_df.csv', encoding='cp949', index_col=0)

Index(['보상파일번호_x', '보상판정회차', '사고번호', '판정구분코드_TB_RCB230_RC051', '등록일시',
       '총액부분금액구분코드_RC053', '판정통화코드_ZZ067', '외화합계판정금액', '미화합계판정금액', '원화합계판정금액',
       '외화판정금액', '미화판정금액', '원화판정금액', '외화연체이자금액', '외화약정이자금액', '미화약정이자금액',
       '원화약정이자금액', '통화기준일자_x', '지급기준일자', '미화연체이자금액', '원화연체이자금액', '판정사유순번',
       '판정사유코드', '심사항목명', '상품심사항목명', '사고접수일자', '사고유형코드', '접수사고유형코드_RC001',
       '향후결제전망코드_RC002', '사고진행상태코드_RC023', '사고진행상태변경일자', '사고설명',
       '사고통화코드_ZZ067', '외화사고접수금액', '미화사고접수금액', '원화사고접수금액', '외화사고금액', '미화사고금액',
       '원화사고금액', '외화보험가액', '미화보험가액', '원화보험가액', '외화보험금액', '미화보험금액', '원화보험금액',
       '통화기준일자_y', '수출자대상자번호', '수입자대상자번호', '결제방법코드_RA600', '수출상품코드', '부보율',
       '보험성립일자', '외화인수누계결제금액', '결제조건코드', '보험증권번호', '보상파일번호_y', '수출보험계약번호',
       '수출보험계약변경회차', '수출보험계약내역순번', '사고보험상품코드_RM051', '사고등록상태코드_RC042',
       '신속보상대상여부', '사고접수확정일자', '상세사고보험상품코드_RC064', '청약번호', '청약변경회차',
       '손실분담사고여부', '매입보증연계보험가입여부', '사고유형명', '결제방법', '결제방법설명', '사고진행상태',
       '사고등록상태명', '결제조건', '향후결제전망', '접수사고유형확정', '수출자코드', '수출자명', '수입자코드',
       '수입자명'],
      dtype='object')

In [380]:
final[final.duplicated(keep=False)].shape

(44, 80)

In [382]:
final.drop_duplicates(inplace=True)
final.shape

(25547, 80)

In [381]:
df[df.duplicated(keep=False)].shape

(0, 84)

In [375]:
df.shape

(25550, 84)

In [385]:
df.merge(final, on =
    ['보상파일번호_x', '보상판정회차', '사고번호', '판정구분코드_TB_RCB230_RC051', '등록일시',
       '총액부분금액구분코드_RC053', '판정통화코드_ZZ067', '외화합계판정금액', '미화합계판정금액', '원화합계판정금액',
       '외화판정금액', '미화판정금액', '원화판정금액', '외화연체이자금액', '외화약정이자금액', '미화약정이자금액',
       '원화약정이자금액', '통화기준일자_x', '지급기준일자', '미화연체이자금액', '원화연체이자금액', '판정사유순번',
       '판정사유코드', '심사항목명', '상품심사항목명', '사고접수일자', '사고유형코드', '접수사고유형코드_RC001',
       '향후결제전망코드_RC002', '사고진행상태코드_RC023', '사고진행상태변경일자', '사고설명',
       '사고통화코드_ZZ067', '외화사고접수금액', '미화사고접수금액', '원화사고접수금액', '외화사고금액', '미화사고금액',
       '원화사고금액', '외화보험가액', '미화보험가액', '원화보험가액', '외화보험금액', '미화보험금액', '원화보험금액',
       '통화기준일자_y', '수출자대상자번호', '수입자대상자번호', '결제방법코드_RA600', '수출상품코드', '부보율',
       '보험성립일자', '외화인수누계결제금액', '결제조건코드', '보험증권번호', '보상파일번호_y', '수출보험계약번호',
       '수출보험계약변경회차', '수출보험계약내역순번', '사고보험상품코드_RM051', '사고등록상태코드_RC042',
       '신속보상대상여부', '사고접수확정일자', '상세사고보험상품코드_RC064', '청약번호', '청약변경회차',
       '손실분담사고여부', '매입보증연계보험가입여부', '사고유형명', '결제방법', '결제방법설명', '사고진행상태',
       '사고등록상태명', '결제조건', '향후결제전망', '접수사고유형확정']
)

ValueError: You are trying to merge on datetime64[ns] and int64 columns for key '사고접수일자'. If you wish to proceed you should use pd.concat

In [ ]:
add = final[출자코드', '수출자명', '수입자코드', '수입자명']]
add[add.duplicated(keep=False)]

,보상파일번호_x,등록일시,외화보험금액,보상판정회차,사고번호,수출자코드,수출자명,수입자코드,수입자명
11,2022120379990011,2022-07-07 15:00:50,50000.0,1,111042186,100,건설화성(주),360.0,GSI CORPORATION LTD
60,2022120359990028,2022-07-06 10:37:53,50000.0,1,111042475,100,크라프티즌(CRAFTIZEN),701.0,NERIDA HANSEN FABRIC PTY LIMITED
61,2022120359990028,2022-07-06 10:37:53,50000.0,1,111042475,100,크라프티즌(CRAFTIZEN),701.0,NERIDA HANSEN FABRIC PTY LIMITED
66,2022120369990009,2022-07-28 14:02:05,50000.0,1,111042558,100,미래나노텍(주),517.0,PROTECT GLASS SAS
67,2022120369990009,2022-07-28 14:02:05,50000.0,1,111042558,100,미래나노텍(주),517.0,PROTECT GLASS SAS
...,...,...,...,...,...,...,...,...,...
25461,2025120376020002,2025-05-15 15:56:42,1500000.0,1,111045440,100,주식회사 맥타무역,618.0,EL ALLAMIA FOR PLASTICISERS AND SOLVENTS (EPS ...
25537,2024120372800013,2025-05-20 16:55:02,403500.0,1,111045042,100,주식회사 폴맥,280.0,DUBAI CITY TRADING L L C (DCT)
25538,2024120372800013,2025-05-20 16:55:02,403500.0,1,111045042,100,주식회사 폴맥,280.0,DUBAI CITY TRADING L L C (DCT)
25563,2025120369990009,2025-05-13 09:16:09,50000.0,1,111045455,100,주식회사 타래,450.0,F21 OPCO LLC
25564,2025120369990009,2025-05-13 09:16:09,50000.0,1,111045455,100,주식회사 타래,450.0,F21 OPCO LLC

In [369]:
df.columns

Index(['보상파일번호_x', '보상판정회차', '사고번호', '판정구분코드_TB_RCB230_RC051', '등록일시',
       '총액부분금액구분코드_RC053', '판정통화코드_ZZ067', '외화합계판정금액', '미화합계판정금액', '원화합계판정금액',
       '외화판정금액', '미화판정금액', '원화판정금액', '외화연체이자금액', '외화약정이자금액', '미화약정이자금액',
       '원화약정이자금액', '통화기준일자_x', '지급기준일자', '미화연체이자금액', '원화연체이자금액', '판정사유순번',
       '판정사유코드', '심사항목명', '상품심사항목명', '사고접수일자', '사고유형코드', '접수사고유형코드_RC001',
       '향후결제전망코드_RC002', '사고진행상태코드_RC023', '사고진행상태변경일자', '사고설명',
       '사고통화코드_ZZ067', '외화사고접수금액', '미화사고접수금액', '원화사고접수금액', '외화사고금액', '미화사고금액',
       '원화사고금액', '외화보험가액', '미화보험가액', '원화보험가액', '외화보험금액', '미화보험금액', '원화보험금액',
       '통화기준일자_y', '수출자대상자번호', '수입자대상자번호', '결제방법코드_RA600', '수출상품코드', '부보율',
       '보험성립일자', '외화인수누계결제금액', '결제조건코드', '보험증권번호', '보상파일번호_y', '수출보험계약번호',
       '수출보험계약변경회차', '수출보험계약내역순번', '사고보험상품코드_RM051', '사고등록상태코드_RC042',
       '신속보상대상여부', '사고접수확정일자', '상세사고보험상품코드_RC064', '청약번호', '청약변경회차',
       '손실분담사고여부', '매입보증연계보험가입여부', '사고유형명', '결제방법', '결제방법설명', '사고진행상태',
       '사고등록상태명', '결제조건', '향후결제전망', '접수사고유형확정', '상품코드', '상품명', '상품비고내용',
       '상세사고보험상품', '상품분류코드', '상품분류명', '상품분류그룹코드', '상품분류그룹명'],
      dtype='object')

### 검색용 컬럼 분류

In [92]:
df[['청약번호', '청약변경회차', '수출보험계약번호', '보상파일번호_x', '보험증권번호']].isna().mean()

청약번호        0.202206
청약변경회차      0.201087
수출보험계약번호    0.023298
보상파일번호_x    0.000000
보험증권번호      0.519471
dtype: float64

In [387]:
df.sample(1)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,상품코드,상품명,상품비고내용,상세사고보험상품,상품분류코드,상품분류명,상품분류그룹코드,상품분류그룹명
16006,201812041ZZZ0032,1,151019919,1001,2018-05-21 15:56:33,1,KRW,124323192.0,115188.71,124323192,122400000.0,113406.83,122400000,0.0,1923192.0,1781.88,1923192,20180518.0,20180525.0,0.0,0,1.0,1,수입자 신용도,수입자 신용도_미사용,2018-02-01,701,701,06,C0155,20180615,○'18.1.9자 원금 연체\n - 최초사고사유발생일 : '18.1.9자 원금 연체,KRW,122400000.0,106731.77,122400000,122400000.0,106731.77,122400000,122400000.0,119929.45,122400000,122400000.0,119929.45,122400000,20170222,6000172479,NaN,NaN,9999,100.0,20170222.0,0.0,NaN,15-1408-0254-003,201812041ZZZ0032,152014842977,3.0,1.0,15001,C0130,N,2018-02-05,0,1.520141e+11,3.0,N,N,원금연체,NaN,NaN,사후관리인수인계,사고접수 결재완료,NaN,판단불가,원금연체,15001,수출신용보증(선적전),NaN,일반,9999,기타,14.0,기타

In [388]:
df[['보상파일번호_x', '사고접수일자', '사고접수확정일자', '사고번호',  '사고유형명',  '사고진행상태', '사고등록상태명', '접수사고유형확정', '사고설명',
    
      '사고통화코드_ZZ067', '외화사고접수금액', '미화사고접수금액', '원화사고접수금액', 

       '판정통화코드_ZZ067', '외화합계판정금액', '미화합계판정금액', '원화합계판정금액', '외화판정금액', '미화판정금액', '원화판정금액',  '통화기준일자_x',

       '판정사유순번', '심사항목명', '상품심사항목명', '사고접수일자', 
        
       '외화사고금액', '미화사고금액', '원화사고금액', 
       
       '외화보험가액', '미화보험가액', '원화보험가액', '외화보험금액', '미화보험금액', '원화보험금액',

       '수출자대상자번호', '수입자대상자번호', '상품분류명', '상품분류그룹명',

       '보험성립일자', '청약번호', '청약변경회차', '수출보험계약번호', '수출보험계약변경회차', '수출보험계약내역순번', '상품명', '상품비고내용', '상세사고보험상품',

       '지급기준일자', '신속보상대상여부', '손실분담사고여부', '매입보증연계보험가입여부', '부보율',
       
       '결제방법', '결제방법설명', '결제조건', '향후결제전망']].sample(2)

,보상파일번호_x,사고접수일자,사고접수확정일자,사고번호,사고유형명,사고진행상태,사고등록상태명,접수사고유형확정,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,통화기준일자_x,판정사유순번,심사항목명,상품심사항목명,사고접수일자,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,수출자대상자번호,수입자대상자번호,상품분류명,상품분류그룹명,보험성립일자,청약번호,청약변경회차,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,상품명,상품비고내용,상세사고보험상품,지급기준일자,신속보상대상여부,손실분담사고여부,매입보증연계보험가입여부,부보율,결제방법,결제방법설명,결제조건,향후결제전망
23209,2020120373320004,2020-05-26,2020-05-27,111039394,신용위험-지급불능,기타종결,사고접수 결재완료,신용위험-지급불능,금호타이어(주) 대 이탈리아 FINTYRE SPA 간 단기수출보험(재판매) 사고발생...,EUR,12670.67,14098.65,16257863,EUR,12037.13,13393.71,15444961,12037.13,13393.71,15444961,20240717.0,1.0,지급 판정,지급 판정,2020-05-26,12670.67,14098.65,16257863,12670.67,14098.65,16257000,12037.13,13393.72,15444000,3100104071,6001391188,래디알구조의 것,"고무, 가죽",20200311.0,1.120181e+11,2.0,112020302109,0.0,1.0,단기수출보험(재판매),NaN,일반,20240723.0,N,N,N,95.0,O/A(T/T 포함),결제방법(인수),Days From B/L Date,판단불가
23711,2023120357010003,2023-10-13,2023-10-13,111043824,신용위험-지급지체,사후관리인수인계,사고접수 결재완료,신용위험-지급지체,ㅇ 신한다이아몬드공업(주) 대 호주 DRILLING EQUIPMENT MANUFAC...,EUR,66288.00,74620.40,88320805,EUR,47486.52,53455.57,63270089,47486.52,53455.57,63270089,20231215.0,1.0,지급 판정,지급 판정,2023-10-13,66288.00,74620.40,88320805,66288.00,74620.40,88320000,66288.00,74620.40,88320000,3100003134,6001903330,다이아몬드 공구,"금속, 비금속류",20220121.0,NaN,NaN,112022895802,0.0,1.0,단기수출보험(일반수출),NaN,일반,20231221.0,N,N,N,100.0,COD,결제방법(인수),Days After B/L Date,판단불가

In [389]:
df = df[['보상파일번호_x', '사고접수일자', '사고접수확정일자', '사고번호',  '사고유형명',  '사고진행상태', '사고등록상태명', '접수사고유형확정', '사고설명',
    
      '사고통화코드_ZZ067', '외화사고접수금액', '미화사고접수금액', '원화사고접수금액', 

       '판정통화코드_ZZ067', '외화합계판정금액', '미화합계판정금액', '원화합계판정금액', '외화판정금액', '미화판정금액', '원화판정금액',  '통화기준일자_x',

       '판정사유순번', '심사항목명', '상품심사항목명', '사고접수일자', 
        
       '외화사고금액', '미화사고금액', '원화사고금액', 
       
       '외화보험가액', '미화보험가액', '원화보험가액', '외화보험금액', '미화보험금액', '원화보험금액',

       '수출자대상자번호', '수입자대상자번호', '상품분류명', '상품분류그룹명',

       '보험성립일자', '청약번호', '청약변경회차', '수출보험계약번호', '수출보험계약변경회차', '수출보험계약내역순번', '상품명', '상품비고내용', '상세사고보험상품',

       '지급기준일자', '신속보상대상여부', '손실분담사고여부', '매입보증연계보험가입여부', '부보율',
       
       '결제방법', '결제방법설명', '결제조건', '향후결제전망']]

final.sample(1)

,보상파일번호_x,보상판정회차,사고번호,판정구분코드_TB_RCB230_RC051,등록일시,총액부분금액구분코드_RC053,판정통화코드_ZZ067,외화합계판정금액,미화합계판정금액,원화합계판정금액,외화판정금액,미화판정금액,원화판정금액,외화연체이자금액,외화약정이자금액,미화약정이자금액,원화약정이자금액,통화기준일자_x,지급기준일자,미화연체이자금액,원화연체이자금액,판정사유순번,판정사유코드,심사항목명,상품심사항목명,사고접수일자,사고유형코드,접수사고유형코드_RC001,향후결제전망코드_RC002,사고진행상태코드_RC023,사고진행상태변경일자,사고설명,사고통화코드_ZZ067,외화사고접수금액,미화사고접수금액,원화사고접수금액,외화사고금액,미화사고금액,원화사고금액,외화보험가액,미화보험가액,원화보험가액,외화보험금액,미화보험금액,원화보험금액,통화기준일자_y,수출자대상자번호,수입자대상자번호,결제방법코드_RA600,수출상품코드,부보율,보험성립일자,외화인수누계결제금액,결제조건코드,보험증권번호,보상파일번호_y,수출보험계약번호,수출보험계약변경회차,수출보험계약내역순번,사고보험상품코드_RM051,사고등록상태코드_RC042,신속보상대상여부,사고접수확정일자,상세사고보험상품코드_RC064,청약번호,청약변경회차,손실분담사고여부,매입보증연계보험가입여부,사고유형명,결제방법,결제방법설명,사고진행상태,사고등록상태명,결제조건,향후결제전망,접수사고유형확정,수출자코드,수출자명,수입자코드,수입자명
9268,2014120351400032,1,151017580,2,2015-11-19 17:25:03,1,USD,117000.0,117000.0,124429500,117000.0,117000.0,124429500,0.0,0.0,0.0,0,20151118.0,20151118.0,0.0,0,2.0,94,자기자본,자기자본,20150102,204,204,06,C9008,20151119,수입자 지급지체\n첨부 사고발생통지서 참조,USD,117000.0,117000.0,124429500,117000.0,117000.0,124429500,117000.0,117000.0,124429000,117000.0,117000.0,124429000,20141015,3100007164,2140103274,13.0,420292,100.0,20141015.0,0.0,41.0,1511101102,2014120351400032,152014947816,0.0,1.0,15002,C0130,N,20150105.0,0,1.520111e+11,2.0,N,N,신용위험-지급지체,O/A(T/T 포함),결제방법(인수),면책종결,사고접수 결재완료,Days From B/L Date,판단불가,신용위험-지급지체,100,(주)제양인더스트리,140.0,HAKUBA PHOTO INDUSTRY CO LTD(HAKUBA SHASHIN SA...

In [390]:
final[['수출자대상자번호', '수입자대상자번호', '수출자코드','수출자명','수입자코드','수입자명']].drop_duplicates()

,수출자대상자번호,수입자대상자번호,수출자코드,수출자명,수입자코드,수입자명
0,6000979587,6003984606,100,(주)함초록,120.0,ZHENG YI FARM PRODUCE CO.
1,6000196027,6001714449,100,(주)불칸테크,361.0,TECHNOPARK IMPULSE LLC
2,6000279658,NaN,100,넥스프링,NaN,NaN
3,6000459415,6001442648,100,(주)금영교역,176.0,LONG CHINH ONE MEMBER LIMITED COMPANY
4,6000152647,6000493216,100,(주)지어신코리아,176.0,JEONG WOO VIETNAM CO.LTD
...,...,...,...,...,...,...
25563,6001440152,6001744772.0,100,주식회사 타래,450.0,F21 OPCO LLC
25565,6000916379,NaN,100,㈜에스케이엠,NaN,NaN
25566,3100104824,NaN,100,아이씨피(주),NaN,NaN
25567,6000069149,NaN,100,(주)엘에스폼웍,NaN,NaN
25568,6005377788,NaN,100,(주)예스종합주방,NaN,NaN

In [393]:
수출자 = final[['수출자대상자번호', '수출자코드','수출자명']].drop_duplicates()

In [394]:
수입자 = final[['수입자대상자번호', '수입자코드','수입자명']].drop_duplicates()

In [397]:
수출자['수출자대상자번호'] = 수출자['수출자대상자번호'].astype(str)

In [395]:
수입자['수입자대상자번호'] = (
    수입자['수입자대상자번호']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

In [400]:
df['수입자대상자번호'] = (
    df['수입자대상자번호']
    .fillna('')
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

C:\Users\wq240\AppData\Local\Temp\ipykernel_24776\4242646115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['수입자대상자번호'] = (

In [404]:
df.shape, 수출자.shape, 수입자.shape

((25550, 56), (6825, 3), (5269, 3))

In [405]:
수출자.drop_duplicates(inplace=True)
수입자.drop_duplicates(inplace=True)
수출자.shape, 수입자.shape

((6462, 3), (5215, 3))

In [406]:
df.merge(수출자, on='수출자대상자번호').shape

(25550, 58)

In [428]:
df[df['수입자대상자번호'] != '']['수입자대상자번호'].nunique()

5214

In [421]:
수입자[수입자['수입자대상자번호'] == '']

  수입자대상자번호  수입자코드 수입자명
2             NaN  NaN

In [424]:
수입자.isna().mean()

수입자대상자번호    0.000000
수입자코드       0.000384
수입자명        0.000384
dtype: float64

In [425]:
df['수입자대상자번호'].isna().sum()

np.int64(0)

In [409]:
df.merge(수입자, on='수입자대상자번호').shape, df.merge(수입자, on='수입자대상자번호').isna().mean()

((25550, 58),
 보상파일번호_x        0.000000
 사고접수일자          0.000000
 사고접수확정일자        0.000039
 사고번호            0.000000
 사고유형명           0.000000
 사고진행상태          0.000039
 사고등록상태명         0.000000
 접수사고유형확정        0.000000
 사고설명            0.079178
 사고통화코드_ZZ067    0.000000
 외화사고접수금액        0.000000
 미화사고접수금액        0.000000
 원화사고접수금액        0.000000
 판정통화코드_ZZ067    0.000000
 외화합계판정금액        0.000000
 미화합계판정금액        0.000000
 원화합계판정금액        0.000000
 외화판정금액          0.000000
 미화판정금액          0.000000
 원화판정금액          0.000000
 통화기준일자_x        0.000078
 판정사유순번          0.000000
 심사항목명           0.000000
 상품심사항목명         0.000000
 사고접수일자          0.000000
 외화사고금액          0.000000
 미화사고금액          0.000000
 원화사고금액          0.000000
 외화보험가액          0.000000
 미화보험가액          0.000000
 원화보험가액          0.000000
 외화보험금액          0.000000
 미화보험금액          0.000000
 원화보험금액          0.000000
 수출자대상자번호        0.000000
 수입자대상자번호        0.000000
 상품분류명           0.129589
 상품분류그룹명         0.129589
 보험성립일자          0.000000
 청약번호            0.108532
 청약변경회차          0.106693
 수출보험계약번호        0.000000
 수출보험계약변경회차      0.000000
 수출보험계약내역순번      0.000000
 상품명             0.000000
 상품비고내용          0.965832
 상세사고보험상품        0.000000
 지급기준일자          0.000000
 신속보상대상여부        0.000000
 손실분담사고여부        0.000000
 매입보증연계보험가입여부    0.000000
 부보율             0.000000
 결제방법            0.252485
 결제방법설명          0.256360
 결제조건            0.336125
 향후결제전망          0.000000
 수입자코드           0.231115
 수입자명            0.231115
 dtype: float64)

In [408]:
df['수입자대상자번호'].isna().mean()

np.float64(0.0)

In [429]:
df = df.merge(수출자, on='수출자대상자번호')
df = df.merge(수입자, on='수입자대상자번호')
df.shape

(25550, 60)

In [430]:
df.to_csv('Data/case.csv', encoding='cp949')