In [ ]:

# 사용 예시:
# generate_single_region_report(ds, "서울")